@import './vendors';
@import './variables';
@import './common';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.container {
    max-width: 1110px;
    margin: auto;
    padding: 0 15px;
    overflow: hidden;
}

.main {
    flex: 1;
}

/* Header */

.header {
    background: #F8F6F7 url('../img/first-bg.png');
    /*overflow: hidden;*/
}

.header .container {
    position: relative;
    padding: 30px 0 130px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link{
    font-size: 14px;
    font-weight: 600;
    transition: .15s color;
}

.navigation__link:hover {
    color: #00BF78;
}

.header-phone {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-phone__number,
.navigation__link {
    color: #333;
}

.header-phone__number {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.header-phone__schedule {
    font-size: 11px;
}

.header__hero {
    max-width: 540px;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20px;
}

.hero__subtitle {
    font-size: 20px;
    padding-bottom: 60px;
}

.btn {
    background: #FB9475;
    border-radius: 24px;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn_large {
    max-width: 203px;
    padding: 17px 30px;
    font-size: 14px;
}

.girl {
    width: 470px;
    height: 470px;
    position: absolute;
    right: 160px;
    bottom: 40px;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header__social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.social_horizon li:not(:last-child) {
    margin-right: 20px;
}

.social_vertical {
    flex-direction: column;
}

.social_vertical li:not(:last-child) {
    margin-bottom: 20px;
}

.social__link {
    opacity: .4;
    transition: .5s;
}

.social__link:hover{
    opacity: 0.6;
}

.header {
    margin-bottom: 50px;
}

/*main*/

/*about section*/

.section {
    padding: 50px 0;
}

.section__title {
    padding-bottom: 35px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.about-title {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about__content {
    max-width: 540px;
}
.about__text1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 20px;
}

.about__text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}
.about__expand {
    color: #278aff;
    font-size: 14px;
}

.video {
    max-width: 445px;
    max-height: 297px;
    cursor: pointer;
    position: relative;
    text-align: end;
    border-radius: 8px;
    overflow: hidden;
    z-index: 2;
}

.video__overlay {
    background: #000;
    opacity: .2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

.video::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/play.png') no-repeat center;
    z-index: 3;
    transition: .15ms;

}
.video::after {
    content: 'Короткое видео о  нас';
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    right: 0;
    color: #fff;

}

.video:hover::before {
    transform: scale(1.1) translateX(-50%);
}
.play-text {
    position: absolute;
    right: 30%;
    top: 70%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    color: #fff;
}

.column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__column{
    text-align: center;
}

.column__row {
    max-width: 350px;
}

.column__icon {
    padding-bottom: 33px;
}

.column__title {
    padding-bottom: 8px;
}

.column__subtitle {
    font-size: 14px;
    line-height: 22px;
}
.subtitle_width {
    max-width: 290px;
}


/*portfolio section*/

.popular-img {
    width: 100%;
    max-width: 350px;
    max-height: 180px;
    background: no-repeat;
    background-size: cover;
    text-align: end;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.popular-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: -60px;
    justify-content: inherit;
}

.popular-col {
    margin: 0 10px 60px 0;
}

.services__title {
    font-size: 36px;
    padding-bottom: 35px;
}

.subtitle_bottom {
    padding-bottom: 16px;
}

.btn_popular {
    padding: 10px 20px;
    font-size: 12px;
}

/*popular*/

.section__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 35px;
}

.tabs-navigation {
    margin-bottom: 55px;
}

.tabs-navigation li:active, .tabs-navigation li:visited {
    border-bottom: 2px solid #00BF78;;
  }

.block {
    padding-top: 35px;
}

.block__title {
    font-weight: 600;
    float: left;
}

.tabs-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block__money {
    font-weight: 600;
    font-size: 20px;
    color: #00BF78;
    text-align: right;
}

.block__subtitle {
    font-size: 14px;
    padding-top: 10px;
}

.block-left, .block-right {
    max-width: 445px;
    width: 100%;
}

/* masters */

.section-bg {
    background: #F8F6F7;
    padding: 80px 0;
}

.master__subtitle {
    padding-bottom: 25px;
}

.masters__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.master {
    padding-bottom: 20px;
    position: relative;
}

.masters__name {
    font-weight: 600;
    padding-bottom: 10px;
}

.masters__post {
    font-size: 14px;
    padding-bottom: 20px;
}

.masters__add {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.master__overlay {
    width: 255px;
    height: 300px;
    overflow: hidden;
    background: #000;
    cursor: pointer;
    border-radius: 8px;
}

.master__img {
    background-size: cover;
    transition: .5s;
}

.master:hover .master__img {
    opacity: .5;
}

.master__btn {
    position: absolute;
    top: 40%;
    left: 33%;
    cursor: pointer;
}

.master__text {
    width: 90px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    opacity: 0;
    transition: .5s;
}
    
.master:hover .master__text{
    opacity: 1;
}

/* portolio */

.section__action {
    position: absolute;
    right: 0;
}

.slid__img {

    max-width: 340px;
    max-height: 340px;
}

.slider-col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.section__header_stretch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.switch {
    max-width: 100px;
    max-width: 100px;
    width: 100%;
    height: 40px;

    &__action {
        display: flex;
        justify-content: space-between;
    }


    &__prev {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;

        &_view:hover {
            width: 40px;
            height: 40px;
            background: #F8F6F7;
            border-radius: 50px;
        }
    }


    &__btnl {
        position: absolute;
        top: 12px;
        right: 10px;
    }

    &__next {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;

        &_view:hover {
            width: 40px;
            height: 40px;
            background: #F8F6F7;
            border-radius: 50px;
        }
    }

    &__btnr {
        position: absolute;
        top: 12px;
        right: 10px;
    }
}

.slid {
    max-width: 340px;
    max-height: 340px;
    cursor: pointer;
    position: relative;
    text-align: end;
    border-radius: 8px;
    // overflow: hidden;
    z-index: 2;

    &__overlay {
        background: #000;
        opacity: 0;
        position: absolute;
        border-radius: 8px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
    }

    &__overlay:hover {
        background: #000;
        opacity: .5;
        position: absolute;
        border-radius: 8px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
    }

    // .slid__img

    // &__img {
    // }

    // // .slid__btn

    // &__btn {

    // }
}

.scale {
    transition: 1s;
    &:hover {
        transform: scale(1.2);
        z-index: 3;
    }
    
}


/* brands */

.brend-title {
    text-align: center;
    padding-bottom: 40px;
}

.section__brend {
    max-width: 900px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: baseline;
}

.brend-icon {
    opacity: .35;
    transition: .5s;
}

.brend-icon:hover {
    opacity: 1;
}

/*footer*/


.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inner__left {
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner__copy {
    padding-bottom: 8px
}

.footer-inner__police {
    text-decoration: revert;
    color: #278aff;
    transition: .15s color;
}

.link-size {
    font-size: 12px;
    font-weight: 400;
}

@import "./media";